APP_NAME="Sistema de Filas"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8888/sistema-de-filas

DB_HOST=localhost
DB_PORT=8889
DB_NAME=sistema-filas
DB_USER=root
DB_PASS=root

ADMIN_SESSION_KEY=queue_admin_auth
